/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;600;700&display=swap');

/* common styles or utilities*/
body{
    font-family: 'Poppins', sans-serif;
}
h1{
    font-size: 230%;
}
li{
    padding-right: 2%;
}
.table i{
    font-size: 26px;
}
a{
    text-decoration: none;
    color: black;
    line-height: 40px;
}
.text-xs{
    font-size: 13px;
}
.text-sm{
    font-size: 15px;
}
.text-colored{
    color: #E76F51;
}

/* header section style */
header, nav{
    background-color: #264653;
}
#heading-section{
    padding-top: 100px;
    padding-left: 6%;
    padding-right: 6%;
}
.btn-header{
    background-color: #E76F51;
    border: 2px solid #E76F51;
    color: white;
    transition: 0.2s;
}
.btn-header:hover{
    display: inline-block;
    background-color: white;
    color: #E76F51;
    transform: scale(1.05);
}

/* news section style */
#latest-news img{
    padding: 5%;
}
.btn-read-more{
    background-color: white;
    border: 1.5px solid #E76F51;
    color: #E76F51;
    border-radius: 5px;
    padding: 12px 30px;
    cursor: pointer;
    transition: 0.2s;
}
.btn-read-more:hover{
    background-color: #E76F51;
    color: white;
}

/* review section style */
#clients-review img{
    width: 149px;
    height: 149px;
}